@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:300,400,500,700,900');

.bahnschrift {
    font-family: 'Saira Semi Condensed', sans-serif;
}

body {
    background: #EFEFEF;
}

/* NAV BAR */

.navbar {
    padding: 0;
    box-shadow: 0 0 3px 3px #0000001e;
    width: 100%;
    z-index: 5000;
}

.navbar-brand {

    height: 50px;
    background: url(/img/NewLogo/INDUSTRIAL.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center;
    background-position-x: left;

    min-width: 150px;
    margin-left: 10px;

}

.flag-container {
    position: absolute;
    overflow: hidden;
    width: 200px;
    height: 50px;
    z-index: 1;
    top: 0;
    left: 50%;

    transform: translate(-50%);
}

.flag-container a {

    background-size: 34px;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;

    box-sizing: content-box;
    border-radius: 50%;
    border: 2px solid white;

    cursor: pointer;

}

.flag-container a:nth-child(2) {
    background-image: url(/img/flg/mex.png);
}

.flag-container a:nth-child(3) {
    background-image: url(/img/flg/usa.png);
}

.flag-circle {

    position: absolute;
    background: #F5F5F5;
    height: 150px;
    width: 150px;
    z-index: -1;
    border-radius: 50%;
    transform: translateY(-20px);

}

/* MAIN HEADER */

.image-pec-requested{
    background: url(/img/NewLogo/INDUSTRIAL.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
}
.main-img {

    position: relative;

    background-image: url(/img/gallery/12053259896_18aab0ec7c_k.jpg);
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    background-position: bottom;
    background-size: cover;
    z-index: 1000;

    overflow: hidden;
    /* background-attachment: fixed; */
}

.hex-main{
    width: 100%;
    background: #0095F8;
}

.hex-columnizer {
    height: 258px;
}

.main-title {


    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title h1 {

    font-size: 40px;
    line-height: 40px;
    color: #0a193b;
    /* text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.596); */
}

.main-title h1 span {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    font-size: 20px;
}

.main-title h1 span::after {
    content: '';
    background: url(/img/NewLogo/INDUSTRIAL.png);
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Main Subtitle */

.pec-title {
    color: #d8000e
}

.pec-title span {
    color: #0a193b;
}

.bg-pec {
    background: #0a193b;
}

.main-caption::before {
    position: absolute;
    bottom: 0;
    height: 250px;
    width: 100%;
    background: url(/img/bg/mapa.png);
    background-repeat: no-repeat;
    content: '';

    z-index: -1;
    opacity: .1;
}

.main-caption {
    position: absolute;
    background: #ffffff8a;

    width: 100%;
    height: 250px;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: 1;
}

.statement {
    height: 200px;
}

.vista-link::after {
    content: 'VER MAS...';

    position: absolute;
    bottom: -40;
    left: 50%;
    padding: 5px 40px;
    background: white;
    color: #5E040A;
    box-shadow: 0 0 8px 3px #0000001e;

    transform: translate(-50%, 50%);
    border-radius: 7px;
    cursor: pointer;
}

/*Grand Hex*/

.grand-hex {
    position: absolute;
    z-index: -1;
    width: 1005px;
    height: 1600px;
    border-radius: 100px;
    /* background: #081624; */
    background: #ffffff;
    opacity: .6;
    transform: translate(-70%, -45%) rotate(0deg);
}

.grand-hex:nth-child(1) {
    transform: translate(-80%, -45%) rotate(0deg);
}

.grand-hex:before,
.grand-hex:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: '';
}

.grand-hex:before {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

.grand-hex:after {
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

/*CAROUSEL*/
.carousel {
    margin-top: 30px;
    height: 600px;
}

.carousel div div .container {
    height: 600px;
}

.carousel-img {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(0deg, rgba(42, 42, 42, 0.712), rgba(42, 42, 42, 0.726)), url(/img/bg/fanucs.png);
    background-size: cover;
}

.carousel-image {
    height: 500px;
    width: 500px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.carousel .carousel-item .carousel-image {
    background-image: url(/img/props/robotua.png);
}

.carousel .carousel-item:nth-child(2) .carousel-image {
    background-image: url(/img/props/robotmison.png);
}

.carousel .carousel-item:nth-child(3) .carousel-image {
    background-image: url(/img/props/robotvision.png);
}

/* BRANDS */

.brands {
    margin-top: 30px;
    background: url(/img/bg/Ductos2.png);
    background-position: center;
    background-size: cover;
    height: 600px;

    overflow: hidden;
    background-attachment: fixed;
    position: relative;
}

.brands .recone:nth-child(1) {
    position: absolute;
    background: #fff;
    height: 50%;
    width: 200%;
    transform: rotate(10deg) translate(0, 140%);
}

.brands .recone:nth-child(2) {
    position: absolute;
    content: '';
    background: white;
    height: 50%;
    width: 200%;
    transform: rotate(5deg) translate(0, 80%);
}

.brands .recone:nth-child(1)::after {
    position: absolute;
    content: '';
    background: #ffffff77;
    height: 100%;
    width: 100%;
    transform: translate(0, 5%);
}

.brands h2 {
    width: 50%;
}

.brand-table {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
}

.brand-table .row {
    bottom: 0;
    padding-bottom: 100px;
}

.brand-item {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 120px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

/* BARNDING IMAGES */

.brand-table .row .brand-item:nth-child(1) {
    background-image: url(/img/brands/Rockwell.svg);
}

.brand-table .row .brand-item:nth-child(2) {
    background-image: url(/img/brands/baldorNormal.png);
}

.brand-table .row .brand-item:nth-child(3) {
    background-image: url(/img/brands/siemensNormal.png);
}

.brand-table .row .brand-item:nth-child(4) {
    background-image: url(/img/brands/omronNormal.png);
}

.brand-table .row .brand-item:nth-child(5) {
    background-image: url(/img/brands/mitsubishi.png);
}

.brand-table .row .brand-item:nth-child(6) {
    background-image: url(/img/brands/fanucNormal.png);
}

.brand-table .row .brand-item:nth-child(7) {
    background-image: url(/img/brands/ABB.svg);
}

.brand-table .row .brand-item:nth-child(8) {
    background-image: url(/img/brands/telephonNormal.png);
}

.brand-table .row .brand-item:nth-child(9) {
    background-image: url(/img/brands/yaskawaNormal.png);
}

.brand-table .row .brand-item:nth-child(10) {
    background-image: url(/img/brands/Honeywell.png);
}

.brand-table .row .brand-item:nth-child(11) {
    background-image: url(/img/brands/fluke.png);
}

.brand-table .row .brand-item:nth-child(12) {
    background-image: url(/img/brands/hitachiNormal.png);
}

.brand-table .row .brand-item:nth-child(13) {
    background-image: url(/img/brands/legrandNormal.png);
}

.brand-table .row .brand-item:nth-child(14) {
    background-image: url(/img/brands/panduitNormal.png);
}

.brand-table .row .brand-item:nth-child(15) {
    background-image: url(/img/brands/BALLUFFNormal.png);
}

.brand-table .row .brand-item:nth-child(16) {
    background-image: url(/img/brands/FESTONormal.png);
}

.brand-table .row .brand-item:nth-child(17) {
    background-image: url(/img/brands/Keyence.png);
}

/* PEC ROBOT */

.pec-robot {
    position: relative;
}

.robot {
    position: absolute;
    background: url(/img/props/pecrobot.png);
    background-size: contain;
    background-position: center;
    width: 30em;
    height: 30em;
    z-index: 2;
    right: 50px;

    transform: translate(0, -40px);
}

/* SERVICES SECTION */

.services {
    background-image: linear-gradient(#000000dc, #000000dc), url("/img/bg/cables.png");
    background-size: cover;
    background-position: center;
    height: 800px;

    overflow: hidden;
    position: relative;
}

.services .recone:nth-child(1) {

    position: absolute;
    content: '';
    background: white;
    height: 30%;
    width: 200%;
}

.services .recone:nth-child(2) {
    position: absolute;
    content: '';
    background: white;
    height: 40%;
    width: 200%;
    transform: rotate(5deg) translate(0, 50%);
}

.services .recone:nth-child(2)::after {
    position: absolute;
    content: '';
    background: #ffffff77;
    height: 100%;
    width: 100%;
    transform: translate(0, 5%);
}

.hex-items {
    display: flex;
    flex-wrap: wrap;
}

.hex-items>div.align-items-center {
    height: 140px;
    width: 140px;
    margin-top: 30px;
    margin-bottom: 50px;
    position: relative;
}

.hex {
    position: absolute;
    width: 85px;
    height: 180px;
    height: inherit;
    border-radius: 10px/5px;
    background: white;
    transform: scale(.7);
    opacity: .33;
    cursor: pointer;
    transition: .3s;
}



.hex:before,
.hex:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: '';
}

.hex:before {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

.hex:after {
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.hex-hover:hover {
    opacity: .6;
}

.hex-text {
    position: absolute;
    font-size: 11px;
    width: 100px;
    color: white;
    text-align: center;
    cursor: pointer;

    bottom: 0;
    transform: translate(0, 100%);
}

.hex-items div a {
    position: absolute;
    height: 50px;
    width: 50px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    transform: translate(0, -50%) scale(1.5);
}

.hex-items div:nth-child(1) a {
    background-image: url(/img/icons/one.png);
}

.hex-items div:nth-child(2) a {
    background-image: url(/img/icons/three.png);
}

.hex-items div:nth-child(3) a {
    background-image: url(/img/icons/two.png);
}

.hex-items div:nth-child(4) a {
    background-image: url(/img/icons/five.png);
}

.hex-items div:nth-child(5) a {
    background-image: url(/img/icons/four.png);
}

.hex-items div:nth-child(6) a {
    background-image: url(/img/icons/seven.png);
}

.hex-items div:nth-child(7) a {
    background-image: url(/img/icons/eight.png);
    filter: invert(1);
}

.hex-items div:nth-child(8) a {
    background-image: url(/img/icons/six.png);
}

/* END SECTION */
.end-img {
    position: relative;
    height: 600px;
    background: url(/img/bg/cables2.png);
    background-repeat: no-repeat;

    overflow: hidden;
}

.hex-end-image {

    position: absolute;
    width: 500px;
    height: 500px;
    background: url(/img/props/robotmison.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    right: -50px;
    bottom: 50px;

}

.hex-end-image::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: url(/img/props/robotmison.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;

    transform: translate(-230px, -390px);
    opacity: .5;
}

.hex-end-image::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: url(/img/props/robotmison.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;

    transform: translate(-230px, 390px);
    opacity: .5;
}
/* FOOTER */

.dark-pec {
    background: url(/img/NewLogo/INDUSTRIAL.png);
    height: 30px;
    background-repeat: no-repeat;

    background-size: contain;
}

footer {
    background: black;
    height: auto;
    padding: 30px;
}

footer i {
    margin-top: 5px;
    color: #212529;
}

footer h2 {
    font-size: 16px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.171);
}

.footer-brand {
    background: url(/img/NewLogo/INDUSTRIALN.png);
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}

/*  LOADER  */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    z-index: 9999;
    opacity: 1;
    transition: .3s;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#status {

    width: 250px;
    height: 100px;

    background: url(../img/NewLogo/INDUSTRIAL.png) no-repeat center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.bar-loading {

    width: 280px;
    height: 3px;
    background: #00000010;

    display: flex;
    justify-content: flex-start;
}

#loader {
    height: 3px;
    background: #0C50A4;
    transition: 1s;
}

.load-0 {
    width: 0px;
}

.load-100 {
    width: 280px;
}

.fa-check.text-secondary {
    color: #0B4FA3 !important;
}

/* MESSAGE */

.send-msg-cont {
    background: #fff;
    border-radius: 10px;
    width: 500px;

    position: fixed;
    z-index: 4000;
    right: 20px;
    bottom: 0px;

    box-shadow: 0 0 10px 10px #00000010;
}

.msg-content {
    padding: 15px;
}

.bar-maxmin {
    background: #0A193B;
    color: #FFFFFF;
    padding: 15px;
    border-radius: 5px 5px 0 0;

    cursor: pointer;
}