@media (max-width: 1200px) {

    .brands .recone:nth-child(1) {

        transform: rotate(10deg) translate(0, 120%);

    }

    .brands .recone:nth-child(2) {

        left: -20px;
        transform: rotate(5deg) translate(0, 50%);
    }

    .robot {
        width: 25em;
        height: 25em;
    }
}

@media (max-width: 1200px) {

    .services {
        height: 1000px;
    }

    .services .recone:nth-child(2) {
        transform: rotate(5deg) translate(0, 20%);
    }

}

@media (max-width: 1000px) {

    .robot {
        width: 20em;
        height: 20em;
        transform: translate(0, 60px);
    }

    .brand-table .row {
        width: 100%;
        transform: translate(20px, -60px)
    }
    
    .brand-item {

        width: 100px;
        height: 25px;
    
    }

}

@media (max-width: 770px) {

    .services {
        height: 1400px;
    }

    .services .recone:nth-child(2) {
        transform: rotate(5deg) translate(0, 20%);
    }

}